[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkscan = "1.0.9"
numpy = "1.23.3"
fabric = "3.1.0"
getpass4 = "0.0.14.1"
getmac = "*"

[dev-packages]
build = "*"
twine = "*"
sphinx = "*"
sphinx-autoapi = "*"
sphinx-copybutton = "*"
sphinxcontrib-bibtex = "*"
sphinx-rtd-theme = "*"
geocam = {editable = true, path = "."}

[requires]
python_version = "3"
