[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
build = "*"
twine = "*"
sphinx-autoapi = "*"
sphinx-copybutton = "*"
sphinxcontrib-bibtex = "*"
sphinx-rtd-theme = "*"
colorama = "*"
geocam = {editable = true, path = '.'}
sphinx = "*"
getmac = "*"
pytest = "*"
mock = "*"
pyshine = "==0.0.9"

[requires]
python_version = "3.10"
