[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geocam = {editable = true, path = '.'}

[dev-packages]
build = "*"
twine = "*"
sphinx = "*"
sphinx-autoapi = "*"
sphinx-copybutton = "*"
sphinxcontrib-bibtex = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.10"
